.footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

main {
    padding-top: 7rem;
}

.toast {
    background-color: rgba(220,241,245,1) !important;
}
