<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BucketList</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('home') }}">home</a></li>
            <li><a href="{{ path('idea_add') }}">add</a></li>
            <li><a href="{{ path('idea_list') }}">list</a></li>
            <li><a href="{{ path('main_about_us') }}">about-us</a></li>
        </ul>
    </div>
</nav>


